@import "tailwindcss";

/* 🎨 Custom variables */
:root {
  --primary: #0A89C6;
  --secondary: #253374;
  --white: #FFFFFF;
  --black: #191618;
  --third: #C93A7C;
  --fourth: #4AAB7D;
}

/* 🌎 Base Styles */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  background: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}